.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body{
  font-family: Roboto;
  color: #757575;
  background-color: #fff;
  font-family: 'Roboto', sans-serif; 
  letter-spacing: 0.03em;
  
}


/* убираем точки со списков */
ul
{
  list-style: none;
}

a {
   text-decoration: none;
}

/* обьявляем цвета */
:root {
  --title-color: #212121;
  --adr-color: #757575;
  --logo-color: #000;
  --accent-color: #2196f3;
  --bg-color: #2f303a;
  --sub-color: #f5f4fa;
  --hero-color: #fff;
  --foot-sub-color: color: rgba(255, 255, 255, 0.6);
    
}
.logo-acnt {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
}
.logo {
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
}

/* site nav */
.site-nav a{
color: var(--title-color);
letter-spacing: 0.02em;
}
.site-nav a:hover, .site-nav a:focus {
  color: var(--accent-color);
}

/* site adr */
.adress a {
  color: var(--adr-color);
  letter-spacing: 0.02em;
}
.adress a:hover, .adress a:focus  {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--bg-color);
  
}
.hero-title {
  color: var(--hero-color);
  letter-spacing: 0.06em;
}
.hero-button {
  background-color: var(--accent-color);
  color: var(--hero-color);
  letter-spacing: 0.06em;
}

/* features */
.features-title {
  color: var(--title-color);
  
}

/* section color */
.section-title {
  color: var(--title-color);
}
/* our command */
.our-comand {
  background-color: var(--sub-color);
}

.comand-name {
  color: var(--title-color);
}

/* footer */
.page-footer {
  background-color: var(--bg-color);
}
.footer-adr {
  color: var(--hero-color);
}
.mail-tel a {
  color: var(--foot-sub-color);
}

.port-title
{
  color: var(--title-color);
  letter-spacing: 0.06em;
}
.poster-sub
{
  color: var(--adr-color);
}

.site-nav .link.current
{
  color: var(--accent-color);
}

.port-button {
  color: var(--title-color);
  background-color: var(--sub-color);
  }

.port-button:hover, .port-button:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
}

/* */