.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* обьявляем цвета */
:root {
  --title-color: #212121;
  --subtitle-color: #757575;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --btnnoact-color: #f5f4fa;
  --footer-color: #2f303a;
  --herobtntext-color: #ffffff;
  --footadr-color: #ffffff99;
}
.logo-first {
  color: var(--accent-color);
}
.logo {
  color: var(--logo-color);
}
